<!--<ul>-->
<!--<li *ngFor="let room of rooms">-->
<!--{{ room }} data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"-->
<!--</li>-->
<!--</ul>-->
<div><button md-fab md-tooltip="Create room" (click)="createRoom()">
  <label>Create room</label>
</button>
  <button md-fab md-tooltip="Logout" (click)="onClick()">
    <label>Logout</label>
  </button></div>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Author
          </th>
          <th>
            Persons
          </th>
          <th>
            Status
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms">
          <td>
            {{room.id}}
          </td>
          <td>
            {{room.name}}
          </td>
          <td>
            {{room.author.name}}
          </td>
          <td>
            {{room._users.length}}
          </td>
          <td>
            {{room.opened?'Opened':'Closed'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<script>-->
  <!--$(document).ready(function(){-->
    <!--$('[data-toggle="popover"]').popover();-->
  <!--});-->
<!--</script>-->
<!--data-toggle="popover" data-trigger="hover" data-content="{{room.users}}"-->
